*{
  box-sizing: border-box;
}
.app{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4em;
  gap: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
